.LeftMenu {
  width: 236px;
  background-color: #eeeefe;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  
}

.logo {
  padding: 44px 0 0 44px;
}

.linkList {
  margin-top: 40px;
  list-style: none;
}

