.Button {
  cursor: pointer;
  
  color: #fff;
  padding: 5px 10px;
  border: none;
  background-color: #8D7FC7;
  font-size: 16px;
  height: 40px;
  border-radius: 30px;
  font-weight: 700;
  &:disabled {
    opacity: 0.5;
    cursor: auto;
  }
}

.fullWidth {
  width: 100%;
}
