.Discipline {}

.select {
  width:253px;
  height: 36px;
  padding: 10px 12px 10px 12px;
  gap: 0px;
  border-radius: 8px;
  border: 1px solid #ECECEC;
  color: #79747F;
  
  opacity: 0px;
  background-color: #FFFFFF;
}
